/*  your css code here. If applicable */
.grid-container{
	width:100vw;
	display:grid;

	grid-template-columns:repeat(5,150px);
	grid-template-rows:repeat(9,200px);
	
}
.grid-item{
	margin:5px;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-wrap:wrap;
	background-color:lightgray
}
